{% extends "dashboard.html" %}

{% block page_content %}
<div class="container mt-5">
    <h2 class="text-center">Budgets</h2>
    <div class="mt-4">
        <div class="row">
            {% for budget in budgets %}
            <div class="col-12 col-md-6 col-lg-4 mb-3"> <!-- Responsive card layout -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ budget.category }}</h5>
                        <p class="card-text"><strong>Amount:</strong> ${{ budget.amount }}</p>
                        <p class="card-text"><strong>Date:</strong> {{ budget.date }}</p>
                        <p class="card-text"><strong>Budget Type:</strong> {{ budget.budget_type }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ budget.description }}</p>
                        <a href="{{ url_for('edit_budget', budget_id=budget.id) }}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{{ url_for('delete_budget', budget_id=budget.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{{ url_for('add_budget') }}" class="btn btn-primary">Add New Budget</a>
    </div>
</div>
{% endblock %}
